.products-wrapper{
    width: 100%;
    height: auto;
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
    .products-loader{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}